default_language_version:
    python: python3.7
repos:
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      language_version: python3.7
      args: ['--target-version', 'py35']
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: flake8
      additional_dependencies: ["flake8-bugbear==19.3.0"]
    - id: name-tests-test
      args: ['--django']
-   repo: https://github.com/PyCQA/bandit
    rev: '1.6.1'
    hooks:
    - id: bandit
      exclude: tests/
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.761'
    hooks:
    - id: mypy
      exclude: docs/
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: 'v2.4.3'
    hooks:
    -   id: pylint
        args: [
            --disable=import-error,
        ]
        exclude: (tests|docs)
