cfenv==0.5.3
requests==2.25.1
typing-extensions==4.0.0
ai-api-client-sdk==2.4.0
# Pinning aenum to <=3.1.12 because versions >3.1.12 omit the 'NoneType'
# attribute on PyPy3 (see https://github.com/ethanfurman/aenum/issues/32).
aenum==3.1.12